body {
  font: Times;
  background-color: #f2ebe5;
  font-size: 18;
}

#disclaimer{
   text-align: center;
}

#alignment{
 text-align: center;
}

ul{
  list-style-image: url('images/briefcase.jpg');   
}